## INPUTS AND OUTPUTS IN PYTHON
* **Inputs** - Data sent to a program for specific operation(s)
* **Processing** - The transformation of an input to an output according to the instructions given
* **Output** - The results given to a user after processing is done according to the given instructions

### Taking basic input

In [9]:
name = input("Please enter your name")

Please enter your name Carol

In [11]:
#Variables are temporary storage locations
name

'Carol'

In [13]:
city = input("Where do you live?")

Where do you live? Nairobi

In [15]:
city

'Nairobi'

### Taking input based on data types
#### Strings

In [28]:
game = str(input("What is your favourite game?"))

What is your favourite game? Chess

In [30]:
game

'Chess'

In [34]:
type(game)

str

#### Floats

In [43]:
temp = float(input("What is the patient's temperature?"))

What is the patient's temperature? 32

In [45]:
type(temp)

float

In [47]:
temp

32.0

### Integers

In [63]:
#Numbers - 1, 2.5...
#Integers - 1,2,3,4,5,6...
#Floats - 1.5, 2.5 ,3.5...
#Hexadecimal(16), decimal(10), octal(8), binary(2)
count = int(input("How many bananas did you buy?"))

How many bananas did you buy? 10

In [65]:
count

10

#### Boolean

In [85]:
b = bool(input("Please enter any boolean of your choice."))

Please enter any boolean of your choice. True

In [87]:
b

True

In [89]:
type(b)

bool

### Giving basic output

In [96]:
print("This is an output")

This is an output

In [98]:
print('Outputs can be given in single or double quotes')

Outputs can be given in single or double quotes

### Concatenation
* This is joining two or more items together

In [92]:
temp

32.0

##### Example 1

In [100]:
#Without concatenation
print("My temperature is 32.0 degrees")

My temperature is 32.0 degrees

In [110]:
#With concatenation
print("My temperature is " + str(temp))

My temperature is 32.0

In [104]:
x = str(temp)

In [106]:
type(x)

str

In [108]:
x

'32.0'

##### Example 2

In [112]:
count

10

In [114]:
type(count)

int

In [120]:
print("My bananas are ten")

My bananas are ten

In [126]:
print("My bananas are " + str(count))

My bananas are 10

##### Example 3
###### Doing several concatenations

In [131]:
print("I have " + str(count) + " bananas")

I have 10 bananas

##### Example 4
###### Method 2 for concatenation

In [135]:
name = "Joan"
age = 36

In [137]:
name

'Joan'

In [141]:
age

36

In [143]:
print(f"My name is  {name} and I am {age} years old")

My name is  Joan and I am 36 years old

In [147]:
#Set, tuples, dictionaries, lists, arrays
type({age})

set

In [149]:
type({name})

set

##### Example 5
###### Concatenation using format

In [156]:
name

'Joan'

In [158]:
age

36

In [162]:
print("My name is  {} and I am {} years old".format(name, age))

My name is  Joan and I am 36 years old

In [168]:
x = y = z = 10

In [170]:
x

10

In [172]:
y

10

In [174]:
z

10

In [233]:
x, y = input("Please enter two numbers\n").split()

Please enter two numbers
 45 23

In [235]:
x

'45'

In [237]:
y

'23'

In [239]:
type(x)

str

In [241]:
type(y)

str

In [243]:
y

'23'